<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>
<form action="/member/update" method="post" enctype="multipart/form-data" name="updateForm">
    <input type="hidden" name="id" th:value="${member.id}">
    <p>이메일</p>
    <input type="text" name="memberEmail" th:value="${member.memberEmail}" readonly>
    <p>비밀번호</p>
    <input type="password" id="memberPassword" name="memberPassword">
    <p>이름</p>
    <input type="text" name="memberName" th:value="${member.memberName}">
    <p>전화번호</p>
    <input type="text" name="memberMobile" th:value="${member.memberMobile}">
    <p>프로필사진</p>
    <img th:src="@{|/upload/${member.memberProfileName}|}" width="100" height="100" alt="">
<!--  본인의 마이페이지만 수정 가능하고 관리자는 강제탈퇴만 시킬 수 있음  -->
    <div th:if="${session.loginEmail}==${session.loginEmail}!=${session.loginEmail.toString().equals('admin')}">
        <input type="button" onclick="update()" value="정보수정">
    </div>
    <div th:if="${session.loginEmail.toString().equals('admin')}">
        <a href="#">강제탈퇴</a>
    </div>
</form>
</body>
<script th:inline="javascript">
    const update = () => {
        const pw = [[${member.memberPassword}]];
        const pwConfirm = document.getElementById("memberPassword").value;
        if (pw == pwConfirm) {
            alert("수정완료")
            updateForm.submit();
        } else {
            alert("비밀번호가 틀립니다!!");
        }
    }
</script>
</html>