<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
        #header{font-size: 20px;}
    </style>
    <div id="header">
        <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString().equals('admin')}">
                <a href="/member/admin">관리자버전</a>
            </div>
            <div>
                <a href="/member/logout">로그아웃</a>
                <a th:href="@{|/member/detail/${session.loginId}|}">마이페이지</a>
                <br><br>
                로그인 이메일 :<span th:text="${session.loginEmail}"></span><br>
                로그인 아이디: <span th:text="${session.loginId}"></span>
            </div>
        </div>
        <div th:unless="${session.loginEmail}">
            <a href="/">Home</a>
            <a href="/member/save">회원가입</a>
            <a href="/member/login">로그인</a>
            <a href="#">글목록</a>
        </div>
    </div>
</th:block>
</html>